fastapi
uvicorn
pydantic
scikit-learn
pandas
numpy
joblib
torch
transformers
sentence-transformers
keybert
openai
python-dotenv
langchain-community
chromadb
langchain-huggingface
python-multipart
pypdf
python-docx
